<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
      <div class="jumbotron">
        <h1>To Do List</h1>
      </div>

      <div class="form-group">
        <input #todoTask
          class="form-control input-lg"
          type="text"
          placeholder="Enter the task"
          required
        >
        <br>
        <button
          type="submit"
          class="btn btn-primary form-control btn-lg"
          (click)="addTask()"
        > + Add Task </button>
      </div>
      <table class="table table-hover table-bordered tableFixHead">
        <thead>
          <tr>
            <th> Task List
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class=""
            *ngFor="let task of todoList"
          >
            <td>
              <div>
                <input
                  type="checkbox"
                  name="remember"
                  required
                  [checked]="task.isCompleted"
                  (change)="task.isCompleted=true"
                >
                  <span *ngIf="!task.isCompleted else strikeCheckBox"> {{task.title}} </span>
                  <ng-template #strikeCheckBox>
                    <span>
                      <s>
                        {{task.title}}
                      </s>
                    </span>
                  </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    </div>
  </div>
</div>
