<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>To Do List</h1>
      </div>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th> Task List</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class=""
            *ngFor="let task of todoList"
            appHighlight
          >
            <td>
              <div>
                <input
                  type="checkbox"
                  name="remember"
                  required
                  [checked]="task.isCompleted"
                  (change)="task.isCompleted=true"
                >
                  <span *ngIf="!task.isCompleted else strikeCheckBox"> {{task.title}} </span>
                  <ng-template #strikeCheckBox>
                    <span>
                      <s>
                        {{task.title}}
                      </s>
                    </span>
                  </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <input #todoTask
          class="form-control input-lg"
          type="text"
          placeholder="Enter the task"
        >
        <br>
        <button
          class="btn btn-primary form-control"
          (click)="addTask()"
        > + Add Task </button>
      </div>
    </div>
  </div>
</div>


